*{
  margin: 0;
  padding: 0
}
.specalbox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    .anticon svg {
      display: inline-block;
      margin: 0 0.1rem;
  }
  span{
    flex:1;
    text-align: center;
    font-size: .32rem;
  }
  }
  
  section{
    flex:1;
    overflow-y: auto;
    .imgs{
        img{
          width: 100%;
          display: block;
          }
        }
    .commentWrap {
      width: 100%;
      height: auto;
      background: white;
      margin-top: .2rem;
       .titleLine {
          width: 100%;
          height: 1rem;
          position: relative;
          display: flex;
          padding: 0 .2rem;
          justify-content: space-between;
  }
}
    .commentList{
      background: white;
      padding: .2rem;
  
    .commentItem{
      width: 100%;
      height: auto;
      position: relative;
      background: white;
      color: gray;
      padding-bottom: .1rem;
     border-bottom: 1px solid  gray;
      .userInfo{
        height: .8rem;
        line-height: .8rem;
        font-size: .24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        div:nth-child(1){
          flex: 1;
          color: black;
        }
        div:nth-child(2){
          width: auto;
        }
      }
      .userComment{
        line-height: .6rem;
        font-size: .3rem;
      }
    }
  }
  .special{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    align-items: center;
    background: #fff;
    padding: 0 .3rem;
    img{
        width: 100%;
        height:auto;
    }
    h4{
        padding: .1rem;
        padding-top: .2rem;
        font-size: .3rem;
        line-height: .4rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: .7rem;
    }  
}
}
}