.categorys_wrap {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.3rem;
    .header{
        width: 100%;
        height: 1rem;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        span{
            flex:1;
            text-align: center;
        }
    }
    .categorys_slide {
      height: 0.5rem;
      width: 100%;
      display: flex;
      overflow-x: auto;
      li {
        padding: 0 0.2rem;
        flex-shrink: 0;
      }
    }
    .categorys_title {
      text-align: center;
      background: rgb(245, 245, 249);
    }
  }
  .categorys_main {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    .categorys_box {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  dl {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 49%;
    height: 4.3rem;
    margin-top: 0.1rem;
    dd {
      display: flex;
      flex-direction: column;
    }
    dt {
      height: 50%;
      padding: 0.1rem;
      height: 3rem;
    }
  }
  .ons {
    color: skyblue;
    border-bottom: 1px solid skyblue;
  }
  .title_p {
    color: rgb(148, 148, 148);
    line-height: -0.1rem;
  }
  img {
    width: 100%;
    height: 100%;
  }