.goods_foot {
  display: flex;
  width: 100%;
  height: 1.1rem;
  div {
    font-size: 0.3rem;
    text-align: center;
    line-height: 1.1rem;
  }
  div:nth-child(1) {
    padding: 0 0.4rem;
  }
  div:nth-child(2) {
    padding: 0 0.4rem;
  }
  div:nth-child(3) {
    background: linear-gradient(90deg, #ff9500, #ff5e3a);
    padding: 0 0.5rem;
    color: #ffff;
  }
  div:nth-child(4) {
    background: linear-gradient(90deg, #1d62f0, #19d5fd);
    color: #ffff;
    padding: 0 0.5rem;
  }
}
.action {
  color: yellow;
}
