.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        background: white;
        box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        span{
            flex:1;
            text-align: center;
        }
    }
    .content{
        flex:1;
        .banner{
            width: 100%;
            height: auto;
            min-height:3rem;
            background: #f4f4f4;
            img{
                height: 7rem;
                width: 100%;
            }
        }
        .serviceList{
            height: .8rem;
            background: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                flex: 1 1;
                color: #666;
                font-size: .24rem;
                text-align: center;
            }
        }
        .goodsMsgWrap{
            padding: .4rem;
            background: white;
            .goodsNameTitle{
                font-size: .4rem;
                text-align: center;
                padding-bottom: .2rem;
            }
            .goodsNameSubTitle{
                font-size: .3rem;
                color: #444;
                text-align: center;
                padding-bottom: .1rem;
            }
            .goodsPriceTitle{
                font-size: .4rem;
                color: red;
                text-align: center;
                line-height: 1rem;
            }
        }
        .goodsSize{
            margin-top: .02rem;
            height: 1rem;
            padding: 0 .4rem;
            background: #e5e5e5;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                &:nth-child(1){
                    width: 2rem;
                }
                &:nth-child(2){
                    color:red;
                }
            }
        }
        .topicDetailImg{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            p{
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
                
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .98rem;
        background: white;
        box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
        display: flex; 
        justify-content: space-between;
        .isLike{
            line-height: .98rem;
            font-size: .6rem;
            text-align: center;
            font-weight: bolder;
        }
        .cartNum{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            .addCart{
                width: 30%;
                height: 100%;
                line-height: .98rem;
                text-align: center;
                font-size: .3rem;
                color: white;
                background: linear-gradient(90deg, #ff9500, #ff5e3a);
            }
            .payGoods{
                width: 30%;
                height: 100%;
                line-height: .98rem;
                text-align: center;
                font-size: .3rem;
                color: white;
                background: linear-gradient(90deg, #1d62f0, #19d5fd);
            }
        }
    }
}
