p{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        background: white;
        box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        span{
            flex:1;
            text-align: center;
        }
    }
    .content{
        flex:1;
        .banner{
            width: 100%;
            height: auto;
            min-height:3rem;
            background: #f4f4f4;
            img{
                height: 7rem;
                width: 100%;
            }
        }
        .serviceList{
            height: .8rem;
            background: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                flex: 1;
                color: #666;
                font-size: .24rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color:red;
                }
            }
        }
        .goodsMsgWrap{
            padding: .4rem;
            background: white;
            .goodsNameTitle{
                font-size: .4rem;
                text-align: center;
                padding-bottom: .2rem;
            }
            .goodsNameSubTitle{
                font-size: .3rem;
                color: #444;
                text-align: center;
                padding-bottom: .1rem;
            }
            .goodsPriceTitle{
                font-size: .4rem;
                color: red;
                text-align: center;
                line-height: 1rem;
            }
        }
        .goodsSize{
            margin-top: .02rem;
            height: 1rem;
            padding: 0 .4rem;
            background: #e5e5e5;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                &:nth-child(1){
                    width: 2rem;
                }
                &:nth-child(2){
                    color:red;
                }
            }
        }
        .topicDetailImg{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            img{
                width: 100%;
                height: auto;
                display: block;
                
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .98rem;
        background: white;
        box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
        display: flex; 
        justify-content:center;
        .isLike{
            line-height: .98rem;
            font-size: .6rem;
            text-align: center;
            font-weight: bolder;
        }
        .cartNum{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2196f3;
            .iconbox{
                width:2em;
            }
        }
        .addCart{
            width: 30%;
            height: 100%;
            line-height: .98rem;
            text-align: center;
            font-size: .3rem;
            color: white;
            background: linear-gradient(90deg, #ff9500, #ff5e3a);
        }
        .payGoods{
            width: 30%;
            height: 100%;
            line-height: .98rem;
            text-align: center;
            font-size: .3rem;
            color: white;
            background: linear-gradient(90deg, #1d62f0, #19d5fd);
        }
    }
}
.goodsAttribute{
    width: 100%;
    height: auto;
    padding: 0 0.4rem;
    
}
.goodsAttribute{
    width: 100%;
    height:auto;
    padding: 0.3rem;
    .goodsAttr{
        background: #dcdfe6;
        min-height: 0.8rem;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0.1rem 0; 
        p{
           flex:1;
        }
        span{
            width:2rem;
            padding: 0 0.1rem;
            color:gray;
        }

    }
}
.goodtitle{
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2196f3;
}
.sp_box{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    div>img{
        width: 2rem;
        height: 2rem;
    }
    div:nth-child(2){
        flex:1;
    }
    .off{
        height: 0.4rem;
        width: 0.4rem;
        text-align: center;
        border:0.01rem solid #e5e5e5;
    }
    p{
        color:#666;
        span{
            color:red;
        }
    }
}
.shop_contadd{
    height: 0.8rem;
    // span{
    //     padding:0.2rem 0.4rem;
    //     border: 0.01rem solid #e5e5e5;
    // }
    // b{
    //     padding: 0.2rem 0.4rem;  
    //     border-top:0.01rem solid #e5e5e5;
    //     border-bottom:0.01rem solid #e5e5e5;
    // }
}
.add_shop{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    left:0;
    bottom:0;
    
    .addCart{
        width: 50%;
        height: 100%;
        line-height: .98rem;
        text-align: center;
        font-size: .3rem;
        color: white;
        background: linear-gradient(90deg, #ff9500, #ff5e3a);
    }
    .payGoods{
        width: 50%;
        height: 100%;
        line-height: .98rem;
        text-align: center;
        font-size: .3rem;
        color: white;
        background: linear-gradient(90deg, #1d62f0, #19d5fd);
    }
}